<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy"
        content="default-src 'none'; style-src {{cspSource}}; script-src {{cspSource}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{snippet.label}}</title>
    <link rel="stylesheet" href="{{resetCssUri}}">
    <link rel="stylesheet" href="{{cssUri}}">
</head>

<body>
    <form name="edit-snippet-form">
        <div class="no-m"><label for="snippet-label">Snippet Label:</label></div>
        <div><input type="text" id="snippet-label" value="{{snippet.label}}" required></div>
        <div class="no-m"><label for="snippet-description">Snippet Description:</label></div>
        <div><input type="text" id="snippet-description" value="{{snippet.description}}"></div>
        <div>
            <label for="snippet-value">Snippet Content:</label>
            <div class="popup" name="_snippets_syntax">
                Snippet syntax was detected: see
                <a href="{{docsUrl}}" target="_blank">docs</a>
                for more information.
                
                <input type="checkbox" id="snippet-resolveSyntax" name="_snippets_resolve_syntax" value="{{snippet.resolveSyntax}}">
                <label for="snippet-resolveSyntax"> Resolve Snippet Syntax</label>
            </div>
        </div>
        <div><textarea id="snippet-value" name="snippet-value" rows="10" required>{{snippet.value}}</textarea></div>
        <div><input type="submit" value="Save"></div>
    </form>
</body>

<script src="{{jsUri}}"></script>
</html>