<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy"
        content="default-src 'none'; style-src {{cspSource}}; script-src {{cspSource}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{snippet.label}}</title>
    <link rel="stylesheet" href="{{resetCssUri}}">
    <link rel="stylesheet" href="{{cssUri}}">
</head>

<body>
    <form name="edit-snippet-form" data-vscode-context='{"preventDefaultContextMenuItems": true }'>
        <div class="no-m"><label for="snippet-label">Snippet Label</label></div>
        <div><input type="text" id="snippet-label" value="{{snippet.label}}" required></div>
        <div>
            <label for="snippet-value">Snippet Content</label>
            <div class="popup" name="_snippets_syntax">
                Snippet syntax was detected: see
                <a href="{{docsUrl}}" target="_blank">docs</a>
                for more information.
                
                <input type="checkbox" id="snippet-resolveSyntax" name="_snippets_resolve_syntax" value="{{snippet.resolveSyntax}}">
                <label for="snippet-resolveSyntax"> Resolve Snippet Syntax</label>
            </div>
        </div>
        <div><textarea id="snippet-value" name="snippet-value" rows="25" required>{{snippet.value}}</textarea></div>
        <!-- expand advanced options if expert mode is on -->
        <details {{#expertMode}}open{{/expertMode}}> 
            <summary>Advanced options</summary>
            <div>
                <div class="no-m">
                    <label for="snippet-language">Snippet Language Scope
                        <div class="tooltip"> [?]
                            <span class="tooltiptext">Snippet will be suggested for files of the selected language only.
                            </span>
                        </div>
                    </label>
                </div>
                <div>
                    <select id="snippet-language" name="snippet-language" init-value="{{ snippet.language }}">
                        <option value="">--none--</option>
                        {{#languages}}
                            <li>{{name}}</li>
                            <option value="{{extension}}">{{alias}}</option>
                        {{/languages}}
                    </select>
                </div>
                <div class="no-m">
                    <label for="snippet-description">Snippet Description
                        <div class="tooltip"> [?]
                            <span class="tooltiptext">Optional description of the snippet displayed by IntelliSense.</span>
                        </div>
                    </label>
                </div>
                <div><input type="text" id="snippet-description" value="{{snippet.description}}"></div>
                <div class="no-m">
                    <label for="snippet-prefix">Snippet Prefix
                        <div class="tooltip"> [?]
                            <span class="tooltiptext">Trigger word that displays the snippet in IntelliSense.
                                If unset, Snippet name will be used.
                            </span>
                        </div>
                    </label>
                </div>
                <div><input type="text" id="snippet-prefix" value="{{snippet.prefix}}"></div>
            </div>
        </details>
        <div><input class="saveButton" type="submit" value="Save"></div>
    </form>
</body>

<script src="{{jsUri}}"></script>
</html>