<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Security-Policy"
            content="default-src 'none'; img-src {{cspSource}} https:; script-src {{cspSource}}; style-src {{cspSource}};">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{title}}</title>
        <link rel="stylesheet" href="{{resetCssUri}}">
        <link rel="stylesheet" href="{{cssUri}}">
    </head>
    <body>
        <h1><img src="https://raw.githubusercontent.com/tahabasri/snippets/main/images/logo/logo.png" width="35px"><p class="changelog-header">{{title}} (version {{version}})</p></h1>
        <hr style="margin-top: 10px;"/>
        <div>
            <h2>🎉 Better Late Than Never !</h2>
            <h3>You can now drag and drop snippets and folders ✨</h3>
            <br/>
            <img src="https://raw.githubusercontent.com/tahabasri/snippets/main/images/features/056-drag-and-drop.gif"
                width="400px" alt="Drag and Drop Snippets">
        </div>
        Check <a href="https://github.com/tahabasri/snippets/blob/main/CHANGELOG.md" target="_blank">CHANGELOG.md</a> for full release notes.
        <div>
            <h2>✅ Always Backup Your Snippets</h2>
            <h3>Don't forget to backup your data using the <b>Export Snippets</b> button before trying out the new release.</h3>
            <br/>
            <img src="https://raw.githubusercontent.com/tahabasri/snippets/main/images/release/backup-snippets.jpg"
                width="500px" alt="Backup Snippets">
        </div>

    </body>
</html>