<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Security-Policy"
            content="default-src 'none'; img-src {{cspSource}} https:; script-src {{cspSource}}; style-src {{cspSource}};">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{title}}</title>
        <link rel="stylesheet" href="{{resetCssUri}}">
        <link rel="stylesheet" href="{{cssUri}}">
    </head>
    <body>
        <h1><img src="https://raw.githubusercontent.com/tahabasri/snippets/main/images/logo/logo.png" width="35px"><p class="changelog-header">{{title}} (release {{version}})</p></h1>
        <hr style="margin-top: 10px;"/>
        <div style="text-align: center; display: inline-block;">
            <h2>The best Snippets tool for VS Code, just got better 🎉</h2>
            <h3>Loooot of new features developers will love ✨</h3>
            <br/>
            <img src="https://raw.githubusercontent.com/tahabasri/snippets/main/images/release/release-cover.gif"
                width="600px" alt="Drag and Drop Snippets">
            <br/><br/>
            <h3>Check the <a href="https://github.com/tahabasri/snippets/blob/main/CHANGELOG.md" target="_blank">CHANGELOG</a> for full release notes. Always do a backup of your Snippets.</h3>
            <br/>
            <img src="https://raw.githubusercontent.com/tahabasri/snippets/main/images/release/backup-snippets.jpg"
                width="500px" alt="Backup Snippets">
        </div>
    </body>
</html>